/* ---------- Accordion animations and layout ---------- */

/* header and content div*/
.header-content {
  background: rgba(20, 130, 125);
  padding: 1em 0 0 0;
  border: rgba(20, 130, 125) solid 3px;
  border-radius: 15px;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
}

/* header and icon */
.header-icon {
  display: flex;
  justify-content: space-between;
}

/* button for togling content */
.bookButton {
  margin-right: 2em;
  cursor: pointer;
}

/* for hiding open or close buttons book image */
.bookButton.hidden {
  display: none;
}

/* content area of accordion */
.content {
  background: white;
  color: black;
  border-radius: 0 0 13px 13px;
  max-height: 1000px; /* needed for accordion animation*/
  overflow-y: hidden; /* in case if content is taller than 1000px */
  transition: max-height 0.5s ease-in-out;
}

.contentToAccordion {
  margin: 1rem;
}

/* removing bottom margin from paragraphs inside accordion-content area */
.accordion-content p:last-of-type,
.accordion-content ul:last-of-type,
.accordion-content figure:last-of-type {
  margin-bottom: 0;
}

/* keep bottom margin from paragraphs inside accordion-content area */
.accordion-content p.keep-margin {
  margin-bottom: 1em;
}

/* hiding content */
.content.hidden {
  max-height: 0;
}

/* margin for header div */
.header {
  margin: 0 0 1rem 1rem;
}
