/* ---------- Accordion animations and layout ---------- */

/* header and content div*/
.header-content {
  display: flex;
  background: rgba(20, 130, 125);
  padding: 0;
  border: rgba(20, 130, 125) solid 3px;
  border-radius: 15px;
  color: white;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

/* header and icon */
.header-icon {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

/* button for toggling content */
.bookButton {
  margin-right: 2em;
  cursor: pointer;
}

/* for hiding open or close buttons book image */
.bookButton.hidden {
  display: none;
}

/* content area of accordion */
.content {
  width: 100%;
  background: white;
  color: black;
  border-radius: 0 0 13px 13px;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  transition: max-height 0.3s ease, margin-bottom 0.3s linear,
    border-radius 0.3s linear, width 0.3s ease;
  user-select: auto;
}

.content:has(.contentToAccordion.open) {
  transition: none;
}

.contentToAccordion {
  margin: 1rem;
}

/* removing bottom margin from paragraphs inside accordion-content area */
.accordion-content p:last-of-type,
.accordion-content ul:last-of-type,
.accordion-content figure:last-of-type {
  margin-bottom: 0;
}

/* keep bottom margin from paragraphs inside accordion-content area */
.accordion-content p.keep-margin {
  margin-bottom: 1em;
}

/* hiding content */
.content.hidden {
  max-height: 0;
  margin-bottom: 2px;
  border-radius: 3px 3px 15px 15px;
  width: 99.9%;
}

/* margin for header div */
.header {
  margin: 0 0 1rem 1rem;
}

.close-button {
  position: absolute;
  bottom: 0px;
  right: 35px;
  background-color: rgba(20, 130, 125);
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  padding: 3px 15px;
  cursor: pointer;
  content: '▼';
  transform: rotate(180deg);
}

.close-button.hidden {
  display: none;
}
