/* ---------- Footer layout ---------- */
.site-footer {
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
  border-top: #14827d 2px solid;
}

.footer-content-center {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.footer-img {
  height: 70px;
  margin-left: 1vw;
}

.info-img {
  height: 40px;
  margin-left: 1vw;
}

.footer-text {
  margin: 0;
  padding: 0 1vw;
  line-height: 1.2;
}

/* ---------- Footer for mobile ---------- */
@media (max-width: 600px) {
  .site-footer {
    flex-direction: column;
  }
  .footer-content-center {
    flex-direction: column;
  }

  .footer-text {
    text-align: center;
    padding: 1em 1vw;
    font-size: 1rem !important;
  }
}
