html {
  overflow-y: scroll;
}

#loader {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  opacity: 1;
  z-index: 9999;
  transition: opacity 0.1s;
}

#loader.fade-out {
  opacity: 0;
  pointer-events: none;
}
