/* For layout of  main content and navigation arrow buttons */

/* content screen width and padding */
.content-screen {
  padding: 2rem 0;
  max-width: 70%;
}

/* image size */
.wide-image {
  max-width: 95%;
  height: auto;
  display: block;
  margin: 0 auto 0 0;
}

img {
  position: relative;
  left: 0;
  transform: scale(1);
}

/* image zoom effect on click */
img.zoomed:not(.no-zoom) {
  transform: scale(1.5);
  z-index: 15;
  transition: transform 0.25s ease, left 0.25s ease;
}

img.zoomed.sidebar-closed:not(.no-zoom) {
  left: 150px;
}

.accordion img.zoomed:not(.no-zoom) {
  position: absolute;
}

figure {
  height: fit-content;
  margin: 1rem 0;
}

/* div for arrow buttons */
.page-arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* button it self */
.button-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  user-select: none !important;
}

/* next buttons */
.button-container.next {
  flex-direction: column-reverse;
  align-items: end;
  margin-left: auto;
  margin-right: 0;
}

/* for hiding button */
.button-container.hide {
  display: none;
}

/* button text */
.arrow-text {
  display: flex;
  align-items: center;
  margin: 0;
}

/* button arrow img */
.arrow-btn {
  width: 30px;
  height: 30px;
  color: #000000;
  border: none;
}

/* margin for prev button arrow*/
.arrow-btn.prev {
  margin: 0 0.5rem 0 0;
}

/* margin and direction for next button arrow*/
.arrow-btn.next {
  transform: rotate(180deg);
  margin: 0 0 0 0.5rem;
}

/* margin for prev button text*/
.arrow-container strong.prev {
  margin: 0 1rem 0 0;
}

/* margin for next button text*/
.arrow-container strong.next {
  margin: 0 0 0 1rem !important;
}

/* text align for next button additional text */
#nextPart {
  text-align: end;
}

.page-selection.hide {
  display: none;
}

.page-selection.active {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/*table*/
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.8rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

table th,
table td {
  padding: 0.5rem;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Edits ol's li's marker number to match h6 text size */
ol.edit-number {
  list-style-type: decimal;
  font-size: 1rem;
}

ol.edit-number li::marker:not(.warning::marker) {
  font-size: 1rem;
  font-weight: bold;
}

/* gap between listitem to ol that has class sections  */
ol.sections > li {
  margin-bottom: 1.25rem;
}

ol.sections > li:last-child {
  margin-bottom: 0;
}

ol.sections {
  margin-bottom: 0;
}

table tr:last-child td {
  border-bottom: none;
  padding-bottom: 0.2rem;
}

/* list item spacing */
li {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

/*pre*/
pre {
  padding: 0rem;
  margin-block-end: 0rem;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* figure caption size */
figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

/*note textbox background*/
.note-box {
  background: rgba(20, 130, 125, 0.2);
  border: 2px solid rgba(20, 130, 125, 0.4);
  padding: 0.8rem 1.4rem;
  margin: 1rem 0 2rem 0;
  display: inline-block;
}

/* Keep list markers inside note-box padding */
.note-box ul,
.note-box ol {
  list-style-position: outside;
  padding-left: 1rem;
}

/* red exclamation mark for important list items */
.warning::marker {
  content: "!  ";
  color: #BD462A;
  font-weight: bold;
  font-size: 1.2em;
}

/* layout changes for mobile */
@media (max-width: 1000px) {
  /* content width */
  .content-screen {
    max-width: 100%;
  }

  img.zoomed:not(.no-zoom) {
    transform: scale(2.5);
  }

  img.zoomed.sidebar-closed:not(.no-zoom) {
    left: 0;
  }

  /* button text size */
  #prevPart,
  #prevText,
  #nextPart,
  #nextText {
    font-size: 0.7em;
    white-space: nowrap;
  }

  /* button arrow size */
  .arrow-btn {
    width: 15px;
    height: 15px;
  }

  .wide-image {
    max-width: 100%;
    left: -0.5rem;
  }

  figcaption {
    position: relative;
    left: -0.5rem;
  }

  .note-box {
    position: relative;
    left: -0.5rem;
  }
}
