.content-screen {
  padding: 2rem 0;
  max-width: 70%;
}

.wide-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.page-arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.arrow-container.hide {
  display: none;
}

.arrow-btn {
  width: 30px;
  height: 30px;
  color: #000000;
  border: none;
}

.arrow-btn.prev {
  margin: 0.5em 0.5em 0.5em 1em;
}

.arrow-btn.next {
  transform: rotate(180deg);
  margin: 0.5em 1em 0.5em 0.5em;
}

.arrow-container {
  background: rgba(20, 130, 125, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  border: #14827d 2px solid;
  cursor: pointer;
}

.arrow-container:active {
  background: #14827d;
}

.arrow-container strong.prev {
  margin: 0 1em 0 0;
}

.arrow-container strong.next {
  margin: 0 0 0 1em !important;
}

@media (max-width: 1000px) {
  .content-screen {
    max-width: 100%;
  }
}
