.navbar {
  background-color: #ffffff !important;
  border-bottom: #14827d 2px solid;
}

.navbar-brand {
  display: flex;
  align-items: center;
  max-width: 70%;
}

.navbar-text {
  padding: 0 1vw;
  color: #000000 !important;
  white-space: normal;
  word-break: break-word;
}

.navbar-nav {
  padding-right: 1vw;
}

.nav-item {
  padding: 0 1vw;
  font-weight: bold;
  color: #000000 !important;
  white-space: nowrap;
}

.nav-link:hover {
  color: #14827d !important;
}

@media (max-width: 1000px) {
  .navbar-text {
    font-size: 1.2rem !important;
  }
}
