.navbar {
  background-color: #ffffff !important;
  border-bottom: #14827d 2px solid;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-text {
  padding: 0 1vw;
  color: #000000 !important;
}

.navbar-nav {
  padding-right: 1vw;
}

.nav-item {
  padding: 0 1vw;
  font-weight: bold;
  color: #000000 !important;
}
