.notification {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #fff;
  border: 1px solid rgba(20, 130, 125, 0.2);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 1000;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: fit-content;
  white-space: normal;
}

.notification.show {
  display: flex;
  animation: fadeInOut 3s forwards;
}

.notification-text {
  margin: 0;
  font-size: 0.8rem;
  color: #000;
  font-weight: 400;
  text-align: center;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}

.notification-code {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}
