.notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #cbe1e0;
  border: 2px solid rgba(20, 130, 125, 0.4);
  border-radius: 5px;
  padding: 0.8rem 1.4rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 1000;
  justify-content: center;
  flex-direction: column;
}

.notification.show {
  display: flex;
  animation: fadeInOut 3s forwards;
}

.notification-text {
  margin: 0;
  font-size: 0.8rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}

.notification-code {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}
