/* for layout of side bar and main content */

/* takes available screen heigt as default */
.page-layout {
  display: flex;
  flex: 1;
}

/* Sidebar color, width when open, border and animation */
.sidebar {
  width: 320px;
  background: rgba(20, 130, 125, 0.2);
  border-right: 2px solid rgba(20, 130, 125, 0.4);
  transition: width 0.3s ease, min-width 0.3s ease;
  position: relative;
  z-index: 10;
}

/* Sidebar width when closed */
.sidebar.closed {
  width: 20px;
}

/* Toggle/arrow button for sidebar */
.toggle-btn {
  position: absolute;
  left: 300px;
  margin-top: 5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, left 0.3s ease;
}

/* arrow svg/img inside round button */
.toggle-arrow {
  fill: #ffffff;
  width: 32px;
  height: 32px;
  z-index: 20;
}

/* turns arrow aroun when sidebar is closed */
.toggle-btn.closed {
  transform: rotate(180deg);
  left: 1px;
}

/* Menu list of sidebar */
.sidebar-menu {
  list-style: none;
  margin-top: 5rem;
  padding: 0 1rem;
}

.sidebar-menu li {
  margin-bottom: 0;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;
}

.sidebar-sub-list {
  list-style: none;
  height: 0;
  display: block;
  overflow: hidden;
  list-style: none;
  margin: 0.5rem 0;
  transition: height 0.3s ease;
}

.sidebar-sub-list li {
  margin-bottom: 0;
}

.sidebar-main-item {
  margin-left: 1rem;
  height: 2rem;
}

.sidebar-main-item.open {
  height: fit-content;
}

.top-margin {
  margin-top: 3rem;
}

.sidebar-main-item.commands,
.sidebar-main-item.workflow {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.sidebar-title.commands,
.sidebar-title.workflow {
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* all sidebar list items/links */
.sidebar-menu a {
  color: #000;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

/* all sidebar list items/links hover effect */
.sidebar-menu a:hover {
  text-decoration: underline;
}

a.active {
  font-weight: 500;
}

.sidebar-title-main {
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.sidebar-title-main.top-margin {
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
}

/*  Sidebar slide effect */
.sidebar .menu-items {
  transition: transform 0.3s ease;
  transform: translateX(0);
  white-space: nowrap;
}

/* sidebas position when closed */
.sidebar.closed .menu-items {
  transform: translateX(-280px);
}

/* sidebar texts display type */
.sidebar span {
  display: inline-block;
  white-space: nowrap;
}

/* prevent pointer events on links when sidebar is closed */
.sidebar.closed a {
  pointer-events: none;
}

/* sidebar and toggle button positioning */
.button-and-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

/* Main content positioning, color and width */
.main-container {
  flex: 1;
  padding: 4rem 8rem;
  background: #f9f9f9;
  transition: margin-left 0.3s ease;
}

/* Dropdown functionality for sub menu items */
/* Dropdown arrow */
.dropdown-toggle:not(.commands) {
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  top: -2px;
  margin-right: 1.5rem;
}

/* Dropdown arrow when dropdown is closed */
.dropdown-toggle::after {
  content: '▼';
  border-top: none;
  top: -3px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

/* Dropdown arrow when dropdown is open */
.dropdown-toggle.open::after {
  transform: rotate(180deg);
  border-top: none;
}

/* sublist is hidden by default */
.sidebar-sub-list:not(.commands-table) {
  padding-left: 1rem;
}

.sidebar-sub-list.commands-table {
  padding-left: 0;
  margin: 0 0 1.5rem 0;
}

/* Dropdown arrow when dropdown is closed */
.dropdown-toggle.commands::after {
  content: '+';
  line-height: 1.5rem;
  font-size: 2rem;
  top: -5px;
  position: relative;
  margin-right: 0.3rem;
  transition: transform 0.3s ease;
}

/* Dropdown arrow when dropdown is open */
.dropdown-toggle.commands.open::after {
  content: '–';
  border-top: none;
  position: relative;
  top: -6px;
  left: 4.5px;
  transform: scaleY(1.1);
  margin-right: 0.5rem;
  transform: rotate(180deg);
}

/* and shown when button is clicked */
.sidebar-sub-list.open {
  height: fit-content;
}

.small-margin-left {
  margin-left: 0.5rem;
}

/* lay out changes for mobile */
@media (max-width: 1200px) {
  /* maincontent area for mobile */
  .page-layout {
    position: relative;
    height: fit-content;
  }

  /* side bar is closed as default for mobile */
  .sidebar {
    background: #d0e6e5;
    position: relative;
    height: auto;
    z-index: 10;
    width: 10px;
    min-width: 10px;
  }

  .sidebar a {
    pointer-events: none;
  }

  .sidebar .menu-items {
    transform: translateX(-300px) !important;
  }

  /* sidebar after togglebutton is clicked */
  .sidebar.closed .menu-items {
    transform: translateX(0) !important;
  }

  .sidebar.closed a {
    pointer-events: auto;
  }

  .sidebar.closed {
    width: 320px;
    transition: width 0.3s ease;
  }

  /* main content area for mobile */
  .main-container {
    padding: 2rem 1.5rem 2rem 2rem;
    max-width: calc(100% - 10px);
  }

  .main-container a {
    pointer-events: auto !important;
  }

  .main-container.shifted {
    margin-left: -310px;
  }

  /* toggle button for mobile */
  .toggle-btn {
    transform: rotate(180deg);
    left: -10px;
  }

  .toggle-btn.closed {
    transform: rotate(0deg);
    left: 300px;
  }

  .sidebar.closed .dropdown-toggle {
    transform: translateY(4px) !important;
  }
}

/* sidebar commands table and download button -styles */

.sidebar-commands summary,
.sidebar-workflows summary {
  cursor: pointer;
  padding: 0.25rem 0;
}

.cmd-table,
.workflow-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.7rem;
  table-layout: fixed;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0rem 0 1rem 0;
}

.cmd-table th,
.workflow-table th {
  background-color: #ffffff;
}

.sidebar .cmd-table th:first-child,
.sidebar .workflow-table th:first-child,
.sidebar .cmd-table td:first-child,
.sidebar .workflow-table td:first-child {
  width: 35%;
}

.sidebar .cmd-table th:last-child,
.sidebar .workflow-table th:last-child,
.sidebar .cmd-table td:last-child,
.sidebar .workflow-table td:last-child {
  width: 65%;
}

.sidebar .cmd-table th,
.sidebar .workflow-table th,
.sidebar .cmd-table td,
.sidebar .workflow-table td {
  padding: 0.3rem 0.3rem 0rem 0.3rem;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.sidebar .cmd-table tr:last-child td,
.sidebar .workflow-table tr:last-child td {
  border-bottom: none;
  padding-bottom: 0.2rem;
}

.cmd-table code,
.workflow-table code {
  font-family: monospace;
  font-size: 0.7rem;
}

/* making sure text wraps within table cells */
.sidebar .cmd-table th,
.sidebar .workflow-table th,
.sidebar .cmd-table td,
.sidebar .workflow-table td,
.sidebar .cmd-table code,
.sidebar .workflow-table code {
  white-space: normal;
  word-break: keep-all;
}

/* download button styles */
.download-wrap {
  text-align: center;
  margin-top: 0.5rem;
}

.download-btn {
  background-color: #14827d;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}
