@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", Arial;
  overflow-x: hidden;
}

/*header styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h3 {
  padding: 1rem 0 0.5rem 0;
}

/* interview section title with lines on sides */
.interview1 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1.5em 0;
  position: relative;
}

.interview1 h3::before,
.interview1 h3::after {
  content: "";
  flex: 1;
  height: 2px;
  border-radius: 5px;
  background-color: rgba(20, 130, 125, 0.3);
}

.interview1 h3::before {
  margin-right: 0.75em;
}

.interview1 h3::after {
  margin-left: 0.75em;
}

/* plus signs inside text */
.plus-sign {
  height: 15px;
}

/* no margin class */
.no-margin {
  margin: 0;
}

/* no bottom margin class */
.no-margin-bottom {
  margin-bottom: 0;
}

/* Top margin class */
.margin-top {
  margin-top: 2rem;
}

/* Top margin class */
.margin-right {
  margin-right: 5rem !important;
}

ul.padding-left {
  padding-left: 1.2rem;
}

/* No line change mid link */
.no-line-change,
code:not(pre code) {
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .no-line-change,
  code:not(pre code) {
    white-space: normal;
  }

  .margin-right {
    margin-right: 0.5rem !important;
  }
}
