/* Regular 400 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium 500 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold 700 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.lock-screen {
  touch-action: none;
}

/*header styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header h1 {
  margin-bottom: 1rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h6,
li,
p {
  font-size: 1rem;
}

a {
  color: #106057;
}

a:hover {
  text-decoration: underline 2px;
}

code {
  color: #96285f;
  font-size: 0.95rem;
  font-family: 'Fira Code', 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Consolas,
    monospace;
  font-weight: 500;
}

/* Reduce margin when heading follows note-box */
p.note-box + h3,
p.note-box + h4,
p.note-box + h5,
p.note-box + h6,
.note-box + h3,
.note-box + h4,
.note-box + h5,
.note-box + h6 {
  margin-top: 0.5rem;
}

/* interview section title with lines on sides */
.interview1 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1.5em 0;
  position: relative;
}

.interview1 h3::before,
.interview1 h3::after {
  content: '';
  flex: 1;
  height: 2px;
  border-radius: 5px;
  background-color: rgba(20, 130, 125, 0.3);
}

.interview1 h3::before {
  margin-right: 0.75em;
}

.interview1 h3::after {
  margin-left: 0.75em;
}

/* plus signs inside text */
.plus-sign {
  height: 15px;
}

.small-margin {
  margin: 0.3rem !important;
}

/* no margin class */
.no-margin {
  margin: 0 !important;
}

/* no bottom margin class */
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

/* Top margin class */
.margin-top {
  margin-top: 2rem;
}

/* no top margin class */
.no-margin-top {
  margin-top: 0;
}

/* right margin class */
.margin-right {
  margin-right: 5rem !important;
}

ul.padding-left {
  padding-left: 1.2rem;
}

/* No line change mid link */
.no-line-change {
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .no-line-change,
  code:not(pre code) {
    white-space: normal;
  }

  .margin-right {
    margin-right: 0.5rem !important;
  }
}
